chisifai_node_red_flow.json
[
    {
        "id": "mqtt-in-node",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Chisifai MQTT Input",
        "topic": "chisifai/trackers/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "debug-node",
                "http-request-node"
            ]
        ]
    },
    {
        "id": "debug-node",
        "type": "debug",
        "z": "flow1",
        "name": "Debug Telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "http-request-node",
        "type": "http request",
        "z": "flow1",
        "name": "Send to Chisifai API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8001/api/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "valueType": "application/json"
            }
        ],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "debug-response"
            ]
        ]
    },
    {
        "id": "debug-response",
        "type": "debug",
        "z": "flow1",
        "name": "Debug Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Test Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthRetention": false,
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeRetention": false,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willRetention": false
    },
    {
        "id": "flow1",
        "type": "tab",
        "label": "Chisifai Sensor Flow",
        "disabled": false,
        "info": "Flow to receive telemetry data from Chisifai IoT sensors and forward to backend API"
    }
]