flows/n8n_motify_telemetry_ingest.json
{
  "name": "Motify - Car Parts Telemetry Ingest (Webhook \u2192 HTTP \u2192 Ack)",
  "nodes": [
    {
      "parameters": {
        "path": "telemetry",
        "options": {
          "responseCode": 200
        }
      },
      "id": "Webhook1",
      "name": "Webhook (telemetry)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://ingest_api:8001/ingest/telemetry",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "sendBody": true
      },
      "id": "HTTPRequest1",
      "name": "POST to ingest_api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "Respond1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (telemetry)": {
      "main": [
        [
          {
            "node": "POST to ingest_api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to ingest_api": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}